.Form {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: solid 2px #494949;
}

.Form input {
  padding: 5px;
  width: 250px; 
  margin: 10px 0;
  transition: .3s width ease-in-out;
}

.Form input:focus {
  width: 500px;
  outline: none;
}

.Form button {
  padding: 10px;
  background: none;
  width: 120px;
  transition: .2s background ease-in-out;
}

.Form button:hover {
  background: rgb(96, 231, 96);
}

.Error {
  display: block;
  color: rgb(231, 58, 58);
}
 